<div class="container">
	<div class="row">
		<div class="col-xs-4"><h1>新的问题</h1></div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<%= form_for @question, class: "form-horizotal" do |f| %>
					<div class="form_group form-group-lg">
						<%= f.label :问题类别, class: 'col-xs-2 control-label', for: "formGroupInputLarge" %>
						<div class="col-xs-10">
							<%= f.select :category, @categories_name, {},
							             class: "form-control", id: "formGroupInputLarge" %>
						</div>
					</div>
			<% end %>
		</div>
	</div>
</div>


