$("<%= escape_javascript(
	button_tag(
	class: "btn btn-success"){
	fa_icon('star')+" Like it " + "<span class='badge'>#{@question.star}</span>".html_safe ;}
	# fa_icon('star')+" Like it " + ;}
) %>").replaceAll("#star_count")